*{margin: 0; padding: 0;}
.clear{ clear:both;overflow: hidden;}
*, *::before, *::after {-moz-box-sizing: border-box;  -webkit-box-sizing: border-box; -o-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box; }
body{ font-size: 14px; font-family: "微软雅黑"; }
a{text-decoration: none;}
ul{list-style: none;}
.fl{ float: left;}
.fr{ float: right;}
input,span,button{outline: 0;}
.ic-header{background:#404449;box-shadow:0 1px 0 0 rgba(0,0,0,0.30);height:60px;padding: 0 135px;border-bottom: 1px #27292c solid;}
.ic-logo{font-family:Roboto-Bold;font-size:18px;color:#ffffff;letter-spacing:-0.25px; text-align:left;font-weight:700;line-height: 60px;}
.ic-nav li{float: left;}
.ic-nav li a{font-size:18px;color:#9ca4ae;letter-spacing:-0.25px;text-align:left;padding: 0 50px;height: 59px;line-height: 60px;display: block;}
.ic-nav li.active a{border-bottom: 2px #448aff solid;color:#fff;background: #27292c;}
.ic-bread{padding: 20px 135px;background:#404449;box-shadow:0 1px 0 0 rgba(0,0,0,0.10);}
.ic-search .ic-input{background:#27292c;border-radius:4px !important;width:390px;height:40px;padding: 11px;border:0;font-size:14px;color:#fff;letter-spacing:-0.2px;text-align:left;font-family: "微软雅黑"; margin-right: 10px;}
.ic-search-btn{height:40px;background:#2dcb9f;border-radius:4px;height:40px;padding: 0 21px;
color:#ffffff; letter-spacing:-0.2px;font-family: "微软雅黑";border:0;cursor: pointer;}
.ic-main{background: #f0f1f5;min-height: 700px;padding: 10px 125px 40px;}
.ic-total{padding: 30px 10px 0 10px;}
.ic-total p.ic-infor{margin-right: 40px;font-size:14px;color:#000000;letter-spacing:0.7px; text-align:left;}
.ic-group{margin: 30px 10px 0 10px ;background:#ffffff;border-radius:4px; width:254px;box-shadow:-1px 0 5px #e5e6ea, 1px 0 5px #e5e6ea, 0 -1px 5px #e5e6ea,0 1px 5px #e5e6ea; float: left;}
.ic-group-header{padding: 16px 18px;border-bottom: 1px #eaeaea solid;}
.ic-gTitle{font-size:15px;color:#404449;letter-spacing:-0.21px;text-align:left;font-weight:700;
line-height: 18px; }
.ic-gCounts{min-width:26px;height:18px;background:#448aff;border-radius:17px;line-height: 18px; text-align: center;font-size:12px;color:#fff;font-family: arial;font-weight:700;padding: 0 6px;}
.ic-group-list{padding: 8px 0;height:227px;overflow-y: auto;}
.ic-group-list li{height:40px;line-height: 40px;padding: 0 18px;font-size:15px;color:#404449;
letter-spacing:-0.21px;text-align:left; cursor: pointer;width: 100%;overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
.ic-group-list li:hover{background:#c6d9f9;color:#fff;}
.ic-group-list li.active{background:#82b1ff;color:#fff;}
.footer{padding: 37px 135px;height:90px;text-align: center;background:#ebecf0;color:#c7c9d1;
letter-spacing:-0.2px;}
.ic-table-list{margin-top: 30px;}
.ic-table{margin: 0 10px;background:#ffffff;border-radius:4px;box-shadow:-1px 0 5px #e5e6ea, 1px 0 5px #e5e6ea, 0 -1px 5px #e5e6ea,0 1px 5px #e5e6ea;margin-bottom: 20px;}
.ic-table-box{width:100%;overflow-x: auto;}
.ic-table table{width:100%;border-collapse: collapse;}
.ic-table table thead tr th{padding: 11px;border:1px #eaeaea solid; border-top:0; border-bottom-width:2px;font-weight:100;color:#404449;min-width:120px;max-width: 200px;overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
.ic-table table tbody tr td{border:1px #eaeaea solid;padding: 9px 11px 27px;text-align: center; font-size:18px;color:#000;letter-spacing: 0.9;min-width:120px;max-width: 200px;overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
.ic-table table thead tr th:nth-child(1){border-left:0}
.ic-table table tbody tr td:nth-child(1){border-left:0}
.ic-table table thead tr th:nth-last-child(1){border-right:0}
.ic-table table tbody tr td:nth-last-child(1){border-right:0}
.ic-school{line-height: 40px;font-size:18px;color:#ffffff;letter-spacing:-0.25px;
text-align:left;}
.ic-example{min-height: 500px;}
.ic-example li{color:#404449;letter-spacing:-0.2px;text-align:left;padding: 18px 31px;line-height: 23px;}
.ic-example li:nth-child(odd){background:#ffffff;border-radius:4px;}
.font-size{font-size:18px;color:#000;}
.font-color{color:#e53935;}
.ic-page{text-align: center;margin-top: 80px;}
.ic-pagination{display: inline-block;}
.ic-pagination li{float: left;margin: 0 5px;}
.ic-page .ic-pagination .ic-fa-left {display: block;width: 9px;height: 14px;background: url(../img/pageL1.png) no-repeat center center;background-size: cover;}
.ic-page .ic-pagination li:hover .ic-fa-left{background: url(../img/pageL2.png) no-repeat center center;}
.ic-page .ic-pagination .ic-fa-right {display: block;width: 9px;height: 14px;background: url(../img/pageR1.png) no-repeat center center;background-size: cover;}
.ic-page .ic-pagination li:hover .ic-fa-right{background: url(../img/pageR2.png) no-repeat center center;}
.ic-pagination>li>a {font-size: 14px;color: #404449;letter-spacing: 0px;padding: 13px 15px;line-height: 14px;width: 40px;border-radius: 6px !important;border-width: 0;display: block;background:#ffffff;border-radius:6px;color:#404449;}
.ic-pagination>li.active>a{background:#404449;color:#fff}
.ic-pagination li input {background: #FFFFFF;border-width: 0px;height: 40px;width: 90px;padding: 0 8px;line-height: 40px;font-size: 14px;color: #404449;letter-spacing: 0px;float: left;outline: 0;border-radius: 6px 0px 0px 6px!important;margin-right: 2px;font-family: "微软雅黑";}
.ic-pagination li i.goto {width: 40px;height: 40px;border-width: 0;
background: #fff url(../img/goto.png) no-repeat center center;float: left;cursor: pointer; border-radius: 0px 6px 6px 0px;}
.page-total{line-height: 40px;margin-left: 14px;}
.ic-notice{line-height: 40px;font-size:18px;color:#ffffff;letter-spacing:-0.25px; text-align:left;}
.tongji{background:#2dcb9f;border-radius:4px;width:130px;height:40px;color:#fff;line-height: 40px;text-align: center;cursor:pointer;font-family: "微软雅黑";border:0}
.ic-type-group{width:346px;margin: 30px 10px 0 10px ;background:#ffffff;border-radius:4px; box-shadow:-1px 0 5px #e5e6ea, 1px 0 5px #e5e6ea, 0 -1px 5px #e5e6ea,0 1px 5px #e5e6ea; float: left;}
.ic-type-group .ic-group-list{height:259px}
.ic-sentence-list{margin-top: 30px;}
.ic-error-list li{cursor: default;}
.ic-error-list li:hover{background: none; color:#404449;}
